
#golf {
min-width: 100%
}

#foot {
  background-color: cadetblue;
  margin-top: 15px;
  margin-bottom: 5px;
  border-top: 3px solid grey;
  padding-bottom: 5px;
}

.give-me-space {
  margin-top: 15px;
}

.article-image {
  max-width: 70%;
  max-height: auto;
}
