* {
  background-color: beige;
}

#golf {
min-width: 100%
}

#foot {
  background-color: cadetblue;
  margin-top: 15px;
  margin-bottom: 5px;
  border-top: 3px solid grey;
  padding-bottom: 5px;
}

.give-me-space {
  margin-top: 15px;
}

.article-image {
  max-width: 70%;
  max-height: auto;
}

.article-color {
  background-color: lightsteelblue;
  color: honeydew 
}

.spacing {
  margin: 20px 0px 5px 50px;
}

.spacer {
  margin-top: 10px;
  margin-bottom: 10px;
}